:root {
  /* Color from slides */
  --r-background-color: #01114f;

  /* Main text color */
  --r-main-color: #fff;

  /* Arial font is recommended */
  --r-heading-font: Arial, Helvetica Neue, Helvetica, sans-serif;
  --r-main-font: Arial, Helvetica Neue, Helvetica, sans-serif;

  /* For consistency with the template: */
  --r-heading-font-weight: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;

  /* Section subheader color per theme */
  --r-section-subhead-color: #00ec86;

  --spacing-half: calc(var(--r-block-margin) / 2);
  --iframe-scale: 1;
  --play-btn-size: 32px;
}

.reveal {
  font-family: var(--r-main-font);
  font-weight: normal;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  text-transform: none;
  font-family: var(--r-heading-font);
  font-weight: normal;
  margin-bottom: 0.5em;
}

.reveal .code-snippet.play-container code {
  min-height: calc(var(--play-btn-size) + var(--spacing-half));
}

.reveal .subtitle {
  font-size: 80%;
  margin-top: -30px;
}

.sink {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  padding-bottom: 0;
  color: white;
}

.subhead {
  font-size: 24px;
  color: var(--r-section-subhead-color);
}

.align-left .subhead,
.align-left h1,
.align-left h2,
.align-left h3 {
  text-align: left;
}

.align-right .subhead,
.align-right h1,
.align-right h2,
.align-right h3 {
  text-align: right;
}

iframe {
  background: #fff;
}

.two-columns {
  display: flex;
  flex-direction: row;
  gap: var(--r-block-margin);
}

.two-columns iframe {
  top: 0;
  left: 0;
  width: calc(100% / var(--iframe-scale));
  max-width: unset;
  max-height: unset;
  aspect-ratio: 16 / 10;
  transform: translate(-50%, -50%) scale(var(--iframe-scale)) translate(50%, 50%);
}

.two-columns .iframe-wrapper {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 10;
}

.two-columns pre {
  margin: 0;
  width: 100%;
}

.two-columns .left-column {
  position: relative;
  width: 50%;
}

.two-columns .left-column,
.two-columns .v-stack {
  display: flex;
  flex-direction: column;
  gap: var(--r-block-margin);
}

.two-columns .left-column.r-stack {
  display: grid;
}

.two-columns .right-column {
  position: relative;
  flex-grow: 1;
  padding: 0;
}

.reveal .r-stack.no-margin > * {
  margin: 0;
}

button.play {
  width: var(--play-btn-size);
  height: var(--play-btn-size);

  border: none;
  outline: none;
  position: absolute;
  margin-right: var(--spacing-half);
  margin-top: var(--spacing-half);
  right: 0;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0);
  background-image: url("./play_64_50.png");
  background-size: 32px;
  background-repeat: no-repeat;

  z-index: 10;
}

button.play:hover {
  background-image: url("./play_64.png");
}

button.play.dark {
  background-image: url("./play_dark_64_50.png");
}

button.play.dark:hover {
  background-image: url("./play_dark_64.png");
}
